* {
  padding: 0;
  margin: 0;
}
ul,li {
  list-style: none;
}
.nav {
  width: 210px;
  background: red;
  margin: 10px;
  color: #fff;
}
a {
  text-decoration: none;
}
.nav>ul>li>a {
  padding-right: 100px;
  color: #fff;
}
.main {
  border-bottom: 2px solid #ccc;
  padding: 10px;
  position: relative;
}
.main-ct {
  width: 200px;
  border: 1px solid #ccc;
  position: absolute;
  top: 0;
  left: 210px;
}
.main-ct>li{
  float: left;
  padding: 10px 30px;
}